.alinhadoAoCentro {
    text-align: center;
}

.alinhadoAdireita {
    text-align: right;
}

.alinhadoAesquerda {
    text-align: left;
}

.texto_justificado {
    text-align: justify;
}

.fundo_alinhamento {
    background-color: rgb(187, 187, 187);
    padding: 20px;
}

.fundo_justificado {
    background-color: antiquewhite;
    width: 400px;
}

.minuscula {
    text-transform: lowercase;
}

.maiuscula {
    text-transform: uppercase;
}

.capitalizado {
    text-transform: capitalize;
}

.fundo {
    background-color: rgb(167, 93, 93);
    width: 600px;
}

.sublinhado {
    text-decoration: underline;
}

.linha-sobreposta {
    text-decoration: line-through;
}

.sem-text-decoration {
    text-decoration: none;
}

.altura-entre-linhas {
    line-height: 50px;
}

.sombra-de-texto {
    text-shadow: 3px 3px 2px rgb(84, 84, 84); 
}