/* seletor::pseudo-elemento {
    propriedade: valor;
} */
* {
    font-size: 1.1em;
}

.first-latter::first-letter {
    color: coral;
}

.first-line::first-line {
    color: yellowgreen;
}

.first-line::first-letter {
    color: blue;
}

li::marker {
    color: red;
    font-size: 1.3em;
}

.titulo-com-after::after {
    content: url(../images/img_CSS.png);
}

.titulo-com-before::before {
    content: url(../images/img_CSS.png);
}