img {
    width: 200px;
}

h2 {
    padding: 20px;
}

img.scale {
    transform: translate(50px, 30px);
    transform: scale(2, 1);
}

img.rotate {
    transform: translate(50px, 30px);
    transform: rotate(45deg);
}

img.translate {
    transform: translate(50px, 30px);
}

img.juntando {
    transform-origin: top left;
    transform: rotate(10deg) scale(2) translate(20px, 20px);
}