* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #222;
}

.box {
    width: 40.9375rem;
    height: 21.6875rem;
    border-radius: 21px;
    background: #dedede;
    box-shadow: 10px 20px 20px -10px rgba(212, 212, 212, 0.445);
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

h2 {
    margin: 10px;
    color: #000;
    font-size: 1.5625rem;
    font-family: Roboto;
    font-weight: 700;
}

.resposta {
    display: none;
}

.seta {
    width: 0.9375rem;
    height: 0.554rem;
    flex-shrink: 0;
    cursor: pointer;
}

label {
    color: #000;
    font-size: 1.0625rem;
    font-family: Roboto;
    font-weight: 500;
    display: block;
    margin: 10px;
}

.img-principal {
    width: 17.375rem;
    height: 18.3125rem;
    position: absolute;
    left: 10rem;
}

p {
    font-size: 0.7rem;
    width: 20rem;
    margin: 10px;
}