body {
    background-color: rgb(110, 110, 110);
}

.paragrafo {
    padding: 20px;
    margin-bottom: 40px;
}

.fundo-1 {
    background-color: #F5F5F5;
}

.fundo-2 {
    background-color: #F0CCE2;
}